/* reglas
selectores
declaraciones
propiedades
valores */

/* seletor de etiqueta  header - section - article - nav */

/* selector descendente  */

/* body header div nav ol li a  */

/* selector de clase . */

/* .link */

/* selector de id # */

/* Primario = #6BBAA7 */

/* Secundario = #FBA100 */

/* Otro = #6C648B */

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  background-color: grey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  /* font-style: italic; */
}

h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.2px;
  color: #6bbaa7;
  margin: 0;
  /* margin: 100px 150px 70px 30px; */
  /* text-transform: uppercase; */
  /* text-decoration: dashed; */
}

h2 {
  color: #026fff;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

.header {
  width: 100%;
  background-image: url("../images/Banner.jpg");
  /* display: flex; */
  height: 350px;
  /* align-items: center;
  justify-content: space-between; */
  /* flex-wrap: wrap; significa envoltura flexible*/
  /* flex-wrap: wrap; */
}

#video_background {
  position: absolute;
  /* height: 350px; */
  /* bottom: 0px;
  right: 0px;
  min-width: 100%; */
  width: 100%;
  height: 350px;
  /*  min-height: 100%;
  width: auto; */
  z-index: -1000;
  overflow: hidden;
}
#video_pattern {
  background: #fff;
  position: fixed;
  opacity: 0.8;
  left: 0px;
  top: 0px;
  /* width: 100%; */
  /* height: 350px; */
  z-index: 1;
}

.header a {
  color: white;
  text-decoration: none;
}

.header a {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.nav-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-left: 20px;
  padding-top: 20px; */
  /* margin-top: 20px; */
  /* background-color: #6C648B; */
}

.container {
  /* border: 1px solid red; */
  max-width: 1000px;
  text-align: center;
  /* width: fit-content; */
  margin: 0 auto;
  /* margin-top: 20px; */
  /* display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit; */
}

.principal-text {
  margin-top: 50px;
  margin-bottom: 50px;
}

.filter .input-search-text {
  display: flex;
  justify-content: center;
}

.filter-rank > input {
  width: 400px;
  border-radius: 0 5px 5px 0;
  height: 25px;
  /* display: inline-block; */
}

/* .input-search-text > span {
  width: 100%;
} */

.input-search-text {
  justify-items: center;
  align-items: center;
  /* background-color: black; */
}

.input-search-text {
  float: left;
  width: 12%;
  /* display: inline-block; */
  background-color: #fba100;
  font-size: 13px;
  height: 30px;
  /* margin-top: 2px; */
  border-radius: 5px 0 0 5px;
}

.input-search {
  /* width: 50%; */
  display: inline-block;
  margin: auto;
  border-radius: 0 5px 5px 0;
  height: 25px;
}

.search {
  width: 100%;
  height: 30px;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 1px solid white;
  border-right: none;
  padding: 5px;
  /* height: 20px; */
  border-radius: inherit;
  /* outline: none; */
}

.searchTerm:focus {
  color: grey;
}

.searchButton {
  width: 40px;
  height: 30px;
  border: 1px solid white;
  background: white;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 55%;
  float: left;
  /* position: absolute; */
  /* top: 220px; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}

.ranking-form {
  width: 30%;
  height: 30px;
  border-radius: 5px;
}
/* .hero-image {
  object-fit: cover;
} */

.menu ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-items {
  width: 500px;
  display: flex;
  height: 40px;
  justify-content: space-evenly;
  /* margin-top: 20px; */
  align-items: center;
  background-color: rgba(256, 256, 256, 0.2);
  border-radius: 5px;
}

.figure {
  margin: 0;
}

.social-icon {
  line-height: 0;
  margin-right: 20px;
}

.social-text {
  font-size: 12px;
  margin-left: auto;
}

.social-menu {
  /* justify-content: end;
  align-items: flex-end; */
}

.social-menu-icon {
  display: flex;
  align-items: flex-end;
}

.select {
}

/*Footer*/

/* grid-grap a gap
   grid-row-gap a row-grap
   grid-column-grap a column-grap */

.footer {
  display: grid;
  width: 100%;
  /* height: 100px; */
  /*Para que el footer se quede 100% abajo*/
  position: absolute;
  bottom: 0;
  /*Posición al contenido*/
  /* grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: 50px 50px; */
  /* grid-template: filas / columnas; */
  /* grid-template: 40px 40px / 20% 30% 30% 20%; */
  grid-template: 40px 40px / repeat(4, 1fr);
  column-gap: 20px;
  /* gap: filas columnas; */
  /* row-gap: 20px; */
  background-color: #6c648b;
  /* align-items: center; */
  font-size: 16px;
  border-top: 1px solid #ccc;
  /* margin-right: 10px; */
}

.item-menu-footer {
  width: auto;
  background-color: #6bbaa7;
  padding: 10px;
  border: 1px solid red;
  text-align: center;
}

.footer ul {
  /* margin: 10px; */
  list-style: none;
  /* display: flex; */
  /* padding-left: 0; */
}

.logo-footer {
  margin-left: 20px;
  align-items: center;
}

.social-footer {
  display: flex;
}

.footer .footer-right {
  /* justify-self: right; */
}

.footer .footer-center {
  /* justify-content: center; */
}

.footer .footer-left {
  /* justify-self: left; */
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer img {
  vertical-align: middle;
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}

.social-link.facebook {
  background-image: url("../images/facebook.svg");
}

.social-link.github {
  background-image: url("../images/github.svg");
}

.burger-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 4;
  left: 5px;
  top: 5px;
  color: white;
}
