@import "../../util/Variables.scss";
@import "../../util/breakpoints.scss";
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
  line-height: calculateRem($size) 1.5;
}

.header {
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
}

.header a {
  color: #fff;
  text-decoration: none;
  font-family: $basicFontFamily;
  font-size: 16px;
  font-weight: 500;
  @include font-size(16px);
}

.header a {
  display: none;
  align-items: center;
  padding: 0 10px;
  @include media(desktop-s) {
    display: flex;
  }
}

.nav-header {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
  @include media(desktop-s) {
    display: flex;
  }
}

.menu ul {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 40px;
  @include media(desktop-s) {
    display: flex;
  }
}

.menu {
  width: 100%;
  display: none;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  @include media(desktop-s) {
    display: flex;
  }
}

.menu-items {
  width: 700px;
  display: none;
  height: 42px;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(256, 256, 256, 0.2);
  border-radius: 5px;
  @include media(desktop-s) {
    display: flex;
  }
}

.figure {
  margin: auto;
}

.social-icon {
  line-height: 0;
  margin-right: 20px;
  color: white;
  font-size: 13px;
}

.social-text {
  font-family: $basicFontFamily;
  font-size: 12px;
  margin-left: auto;
  margin-top: 13px;
}

.social-menu-icon {
  display: flex;
  align-items: flex-end;
}
