@import "../../util/Variables.scss";

.header {
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}

.header a {
  color: #fff;
  text-decoration: none;
  font-family: $basicFontFamily;
  font-size: 16px;
  font-weight: 500;
}

.header a {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.nav-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 40px;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.menu-items {
  width: 700px;
  display: flex;
  height: 42px;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(256, 256, 256, 0.2);
  border-radius: 5px;
}

.figure {
  margin: auto;
}

.social-icon {
  line-height: 0;
  margin-right: 20px;
  color: white;
  font-size: 13px;
}

.social-text {
  font-family: $basicFontFamily;
  font-size: 12px;
  margin-left: auto;
  margin-top: 13px;
}

.social-menu-icon {
  display: flex;
  align-items: flex-end;
}
