@import "../../util/Variables.scss";

@function calculateRem($size) {
  $remSize: $size / 18px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
  line-height: calculateRem($size) 1.5;
}

.card-Container {
  width: 90%;
  height: auto;
  margin: 50px;
  padding: 5px 10px;
  display: grid;
  border-radius: 10px;
  grid-template-columns: 20% 50% 15% 15%;
  font-family: $basicFontFamily;
  border: solid 1px $colorBasic2;
  @include font-size(16px);
}

.card-Container:last-of-type {
  margin-bottom: 150px;
}

.logo-Container {
  margin: 10px;
  height: 200px;
  overflow: hidden;
  @include caja;
}
.img-Container {
  width: 100%;
  height: 100%;
}
.general-Information {
  margin: 10px;
}

.general-Information > h2 {
  margin-top: 40px;
}

.general-Information > p {
  display: inline-block;
  margin: 5px;
  color: $colorBasic2;
}
.update-Status {
  background-color: $btn;
  padding: 2px 10px;
  border-radius: 10px;
  font-weight: bold;
}
.Logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  margin-top: 30px;
  border: none;
  box-shadow: none;
  border-radius: none;

  img:first-of-type {
    margin-left: 0;
  }
}
.Logitos {
  width: 30px;
  height: 30px;
  margin: 0 15px;
}
.works {
  display: flex;
  justify-content: center;
  align-items: center;
}

.works__profile {
  background-color: $colorBasic1;
}

.works__description {
  background-color: $btn;
}

.worksNames {
  padding: 8px 13px;
  margin: 10px;
  border-radius: 50px;
  font-family: $basicFontFamily;
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  @include font-size(18px);
}

.general-data {
  margin-top: 10px;
}
