@import "../../util/Variables.scss";

.footer {
  display: grid;
  width: 100%;
  position: fixed;
  bottom: 0;
  grid-template: 40px 40px / repeat(4, minmax(200px, 1fr));
  column-gap: 10px;
  background-color: #6c648b;
  font-size: 16px;
  border-top: 1px solid #ccc;
  color: white;
}

.item__menu-footer {
  width: auto;
  padding: 5px;
  text-align: center;
  font-family: $basicFontFamily;
}

.footer ul {
  list-style: none;
}

.logo__footer {
  margin-left: 20px;
  margin-top: 10px;
}

.social__footer {
  font-size: 13px;
  margin-top: 20px;
}

.social {
  display: flex;
  margin-left: 50px;
  justify-content: center;
}

.social__icon {
  line-height: 0;
  margin-right: 20px;
  color: white;
  font-size: 13px;
  font-family: $basicFontFamily;
}

.footer a {
  color: white;
  text-decoration: none;
}

.social__footer img {
  margin-left: 10px;
}

.social__footer-text {
  margin-left: -5px;
  cursor: pointer;
}

.social__footer-github {
  cursor: pointer;
  margin-top: 13px;
}
